<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style>
      .mycelium-tile {
        border: 2px solid #000;
        padding: 10px;
        float: left;
        margin-right: 2%;
        margin-bottom: 20px;
      }
      .mycelium-image {
        width: 252px;
        height: 252px;
      }
      .mycelium-details {
        max-width: 252px;
        margin: 0 auto;
        text-align: center;
        font-size: 14px;
      }
      .clearfix::after {
        content: "";
        display: table;
        clear: both;
      }
      body {
        font-family: 'Roboto', sans-serif;
      }
    </style>
  </head>
  <body>
    <div class="clearfix">
      <% @mycelia.each_slice(3) do |mycelium_batch| %>
        <div class="clearfix">
          <% mycelium_batch.each do |mycelium| %>
            <div class="mycelium-tile">
              <img class="mycelium-image" src="<%= Rails.root.join('tmp', "#{mycelium.organization_id.to_s + '-' + mycelium.name}.svg") %>" alt="QR Code">

              <div class="mycelium-details">
                <p>
                  <strong><%= I18n.t("labels.mycelium_name") %>:</strong> <%= mycelium.name %>
                </p>
                <p>
                  <strong><%= I18n.t("labels.species") %>:</strong> <%= I18n.t("mycelium.species.#{mycelium.species}") %>
                </p>
                <p>
                  <strong><%= I18n.t("labels.inoculation_date") %>:</strong> <%= formatted_inoculation_date(mycelium) %>
                </p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </body>
</html>
